
.storyImage{
	max-height: 75%;
	margin-bottom:2em;
	max-width:75%;
}

.indexLink{
	text-decoration: none;
    color: inherit;
    border-bottom: none;
    -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    outline: 0;
}

.indexLink:hover{
	color: #fc5f7f;
    border-bottom-color: rgba(255, 255, 255, 0);
}

.homeIconLink{
	padding-right: 50%;
}

.caption{
	font-size:15px;
	margin-top:-3em;
	margin-left:20%;
	margin-right:20%;
	line-height: 20px;
}

.avatarIcon{
	width:96px;
	height:96px;
}

.textAlignColumn{
	text-align: left;
	margin-left:20%;
	margin-right:20%;
	font-size: 0.8em;

}

.methodHeader{
	padding-bottom: 2%;
}

h1{
	font-size: 2.5em;
    font-weight: bold;
    margin:0px;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}


.flex{
	display: flex;
}

.alignRight{
	margin-left: auto;
}
